body{
 margin: 0;
}

*, *::before, *::after {
 box-sizing: border-box;
}

:root {
 --accent-color: rgb(204, 0, 0);
 --lightest-gray: rgb(244, 244, 244);
 --light-gray: rgb(144, 144, 144);
 --medium-gray: rgb(96, 96, 96);
--dark-gray: rgb(13, 13, 13);
 --header-height: 40px;
--animation-duration: 200ms;
--animation-timing-curve: ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
    box-shadow: 0px 1px 3px gray;
}

.left-side {
    text-align: center;
    align-items: center;
    border-right: solid 1px gray;
    width: 100%;
    height: 100%;
    transition: width 200ms ease;
}

.menuiconbtn {
    width: 50px;
    background: none;
    border: 0px;
    cursor: pointer;
}

.left-side img {
    margin-top: 3px;
    width: 100px;
}

.left-side h1 {
    font-size: 20px;
}

.main-page {
    display: flex;
}

.right-side {
    display: flex;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.left-side li {
    list-style-type: none;
}

.red-btn {
    display: flex;
    background-color: var(--lightest-gray);
    border: none;
    width: 200px;
    height: 43px;
    text-align: center;
    align-items: center;
    border-left: solid 3px red;
    font-size: 17px;
}


.red-btn i {
    margin-left: 10px;
    margin-right: 10px;
    color: red;
    font-size: 20px;
}

.default-btn {
    display: flex;
    border: none;
    width: 200px;
    height: 43px;
    text-align: center;
    align-items: center;
    font-size: 17px;
    background: none;
}

.default-btn i {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--light-gray);
    font-size: 20px;
}

.default-btn:hover {
    background-color: var(--lightest-gray);
}


.bottom-btns {
    position: absolute;
    bottom: 0;
}

